<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include navbar.ejs %>
<div class="homepage_content">
    <h1>Szczegóły przetargu</h1>
    <div style="width: 50%">
<!--todo walidacja jeśli brak danych        -->
        <div style="padding: 20px 0 20px;">
            <div class="description_text">
                <p style="font-weight: bold; flex: 1 1 0; text-align: center">Przedmiot:</p>
                <p style="flex: 2 1 0"><%= data.title %></p>
            </div>
            <div class="description_text">
                <p style="font-weight: bold; flex: 1 1 0; text-align: center">Isntytucja zamawiająca:</p>
                <p style="flex: 2 1 0"><%= data.contracting_authority %></p>
            </div>
            <div class="description_text">
                <p style="font-weight: bold; flex: 1 1 0; text-align: center ">Data przyjmowania ofert:</p>
                <p style="flex: 2 1 0">
                    <%= new Date(data.start_date).toLocaleString() %> - <%= new Date(data.end_date).toLocaleString() %>
                </p>
            </div>
            <div class="description_text" style=" border: none">
                <p style="font-weight: bold; flex: 1 1 0; text-align: center">Opis:</p>
                <p style="flex: 2 1 0"><%= data.description %></p>
            </div>
        </div>
        <div style="border: 2px solid dodgerblue; border-radius: 10px; padding: 10px">
            <h2 style="text-align: center">Złóż ofertę</h2>
            <div>
                <form method="post" action="/oferta/dodaj/<%= data.id %>">
                    <label for="bidder" >
                        <span>
                            Składający ofertę:
                        </span>
                        <input type="text" id="bidder" name="bidder" placeholder="Nazwa" required/>
                    </label><br>
                    <label for="value">
                        <span>
                            Wartość oferty:
                        </span>
                        <input type="number" id="value" name="value" placeholder="100000" required/>
                    </label><br>
                    <input class="submit_button" type="submit" value="Złóż ofertę">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
